/* 
font-family: 'Press Start 2P', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Concert One', cursive;
font-family: 'Electrolize', sans-serif; */

header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgba(86, 74, 216, 1);
  z-index: 1;
}

header>h1 {
  line-height: 11px;
  width: 40%;
}

h1>a {
  color: #FFD900;
  font-size: 15px;
  padding-left: 10px;
  font-family: 'Press Start 2P', cursive;
}

nav a {
  color: #FFD900;
  font-weight: 600px;
  padding: 0 20px;
  font-size: 18px;
  font-family: 'Electrolize', sans-serif;
  /* display:block; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.loggedin-info {
  display: flex;
}

.loggedin-info span {
  color: black;
  padding-right: 20px;
  display: none;
}

@media (min-width: 475px) {
  header>h1 {
    line-height: 11px;
    width: 200px;
  }

  h1>a {
    color: #FFD900;
    font-size: 15px;
    padding-left: 10px;
    font-family: 'Press Start 2P', cursive;
  }
}